---
export function getStaticPaths() {
  return [
    { params: { lang: "en", version: "v1" } },
    { params: { lang: "fr", version: "v2" } },
  ];
}

const { lang, version } = Astro.params;
---

<h1>{lang}</h1>
<h2>{version}</h2>
