<div class="flex w-[100%]">
  <main class="flex-1 overflow-y-auto transform translate-y-50 pl-3">
    {/* Main content goes here */}
    {[...Array(100)].map((_, i) => <div class="text-xl">hello</div>)}
  </main>
</div>
