---
import Icon from "../components/Icon";
import MuiDrawer from "../components/MuiDrawer";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto bg-gray-50">
      <div class="max-w-screen-xl mx-auto">
        <header
          class="fixed top-0 z-10 bg-gray-900 flex px-4 py-2 items-center justify-between w-[1280px]"
        >
          <div class="block sm:hidden">
            <MuiDrawer client:load />
            <!-- <Icon /> -->
          </div>
          <h1 class="text-lg text-white font-medium">MonitorApp (dev)</h1>
          <div class="flex items-center">
            <a href="#" class="text-white mr-4">Home</a>
            <a href="#" class="text-white mr-4">Popular</a>
            <a href="#" class="text-white">New</a>
          </div>
        </header>
      </div>

      <div class="flex h-screen pt-[45px]">
        {/* TODO: here load list of topic Left navigation goes here */}
        <nav class="hidden w-64 overflow-y-auto position-sticky top-0 sm:block">
          {
            [...Array(100)].map((_, i) => (
              <ul class="bg-gray-200 pl-3  hover:bg-gray-300">
                <li class="border-b-[0.5px] border-gray-700 ">
                  <a href="#" class="block p-3 text-gray-800 ">
                    Item {i + 1}
                  </a>
                </li>
              </ul>
            ))
          }
        </nav>
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .html {
    overflow-y: hidden;
  }
</style>
